{% extends 'base.html' %}
{% load static %}

{% block title %}Question{% endblock title %}

{% block breadcrumbs %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'dashboard:index' %}">dashboard</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'qres:detail' qre_pk %}">{{ question.section.qre }}</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'sections:detail' qre_pk section_pk %}">{{ question.section }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Question</li>
{% endblock breadcrumbs %}

{% block header %}{{ question }}{% endblock header %}

{% block subheader %}
  <div class="row">
    <div class="col-md-12">
      <h4><span class="badge badge-primary">Weight <span id="question_weight">{{ question.weight }}</span></span></h4>
      <div>
        <span id="question_update_display"><a href="#"><i class="fas fa-pen"></i> Update</a></small></span> |
        <a href="{% url 'questions:delete' question.section.qre.pk question.section.pk question.pk %}" id="sections_delete_link"><i class="fas fa-trash-alt"></i> Delete</a>
      </div>
      <div id="question_update_div"></div>
    </div>
  </div>
{% endblock subheader %}

{% block content %}
  <div class="row">
    <div class="col">
      <h3>Choices</h3>
      <div class="card-deck">
        <div class="card">
          <div class="card-header">Choice 1</div>
          <div class="card-body" id="choice_text_1">{{ question.choice_text_1 }}</div>
        </div>
        <div class="card">
          <div class="card-header">Choice 2</div>
          <div class="card-body" id="choice_text_2">{{ question.choice_text_2 }}</div>
        </div>
        <div class="card">
          <div class="card-header">Choice 3</div>
          <div class="card-body" id="choice_text_3">{{ question.choice_text_3 }}</div>
        </div>
        <div class="card">
          <div class="card-header">Choice 4</div>
          <div class="card-body" id="choice_text_4">{{ question.choice_text_4 }}</div>
        </div>
        <div class="card">
          <div class="card-header">Choice 5</div>
          <div class="card-body" id="choice_text_5">{{ question.choice_text_5 }}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block page_data %}
  <div id="page_urls" data-question-update-url="{% url 'questions:update' qre_pk section_pk question.pk %}"></div>
{% endblock page_data %}

{% block admin_link %}
  <a target="_blank" href="{% url 'admin:questions_question_changelist' %}">Question admin</a>
{% endblock admin_link %}


{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/update_component.js' %}"></script>
  <script src="{% static 'questions/js/question-update.js' %}"></script>
{% endblock scripts %}
