{% extends 'base.html' %}
{% load static %}
{% block title %}
  Question
{% endblock title %}
{% block breadcrumbs %}
  <a href="{% url 'dashboard:index' %}">dashboard</a> /
  <a href="{% url 'qres:detail' qre_pk %}">questionnaire: "{{ question.section.qre }}"</a> /
  <a href="{% url 'sections:detail' qre_pk section_pk %}">section: {{ question.section }}</a> /
  question
{% endblock breadcrumbs %}
{% block header %}
  {{ question }}
{% endblock header %}
{% block content %}
<p><a href="#" id="update_question_link">~ Edit question</a></p>
<div id="question_update_div" hidden></div>
<hr>
<p><a href="#">- Delete question</a></p>
<p><a target="_blank" href="/admin/">Go to admin site</a></p>
{% endblock content %}

{% block page_data %}
  {# <div id="page_urls" data-qre-section-update-url="{% url 'sections:update' object.qre.id object.pk %}" data-question-create-url="{% url 'questions:create' view.kwargs.qre_pk object.pk %}" data-question-list-url="{% url 'questions:list' view.kwargs.qre_pk object.pk %}"></div> #}
{% endblock page_data %}
