{% extends 'base.html' %}
{% load static %}
{% block title %}
  Question
{% endblock title %}
{% block breadcrumbs %}
  <a href="{% url 'dashboard:index' %}">dashboard</a> /
  <a href="{% url 'qres:detail' qre_pk %}">{{ question.section.qre }}</a> /
  <a href="{% url 'sections:detail' qre_pk section_pk %}">{{ question.section }}</a> / question
{% endblock breadcrumbs %}
{% block header %}
  {{ question }}
{% endblock header %}
{% block content %}
<h3>Weight: <span id="question_weight">{{ question.weight }}</span></h3>
<p><a href="#" id="question_update_link">~ Edit question</a></p>
<div id="question_update_div" hidden></div>
<hr>
<p><a href="{% url 'questions:delete' qre_pk section_pk question.pk %}">- Delete question</a></p>
<p><a target="_blank" href="/admin/">Go to admin site</a></p>
{% endblock content %}

{% block page_data %}
  <div id="page_urls" data-question-update-url="{% url 'questions:update' qre_pk section_pk question.pk %}"></div>
{% endblock page_data %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'questions/js/update.js' %}"></script>
{% endblock scripts %}
