{% for question in question_list %}
  <tr>
    <td width="5%" class="text-center">
      {% if not forloop.first %}
      <a href="#" class="question_move_link" data-url="{% url 'questions:move' qre_pk section_pk question.pk 'up' %}">
          <i class="fas fa-arrow-alt-circle-up"></i>
      </a>
      {% endif %}
    </td>
    <td width="5%" class="text-center">
      {% if not forloop.last %}
      <a href="#" class="question_move_link" data-url="{% url 'questions:move' qre_pk section_pk question.pk 'down' %}">
          <i class="fas fa-arrow-alt-circle-down"></i>
      </a>
      {% endif %}
    </td>
    <td><a href="{% url 'questions:detail' qre_pk section_pk question.pk %}">{{ question }}</a></td>
    <td width="10%" class="text-right">{{ question.weight }}</td>
  </tr>
{% endfor %}
