# Update requirements MANUALLY here!
# To update requirements.txt file, run:
#
#    pip-compile --output-file requirements.txt requirements.in

# Django
Django<2.3
django-crispy-forms<1.8
django-extended-choices<1.4
django-mptt<1
django-ordered-model<3.2

# Linter
flake8<3.8
flake8-docstrings<1.4
flake8-isort<2.8

# Tools
pip-tools

# Database
psycopg2-binary<2.9
mysqlclient<1.5
