# Update requirements MANUALLY here!
# To update requirements.txt file, run:
#
#    pip-compile --output-file zappa_requirements.txt zappa_requirements.in

# Django
Django<2.2
django-crispy-forms<1.8
django-extended-choices<1.4
django-mptt
django-ordered-model==3.1.1

# AWS lambda deploy
django-storages==1.7.1
zappa==0.47.0

# Tools
pip-tools

# Database
psycopg2-binary<2.8
