# Update requirements manually here!

# Django
Django<2.2
django-crispy-forms<1.8
django-extended-choices<1.4
django-ordered-model==3.1.1

# AWS lambda deploy
django-storages==1.7.1
zappa==0.47.0

# Tools
pip-tools

# Database
psycopg2-binary<2.8
