{% extends 'base.html' %}
{% load static %}
{% block title %}
  Questionnaire
{% endblock title %}
{% block breadcrumbs %}
  <a href="{% url 'dashboard:index' %}">dashboard</a> / questionnaire
{% endblock breadcrumbs %}
{% block header %}
  {{ object.name }}
{% endblock header %}
{% block content %}
  <p><a href="#" id="update_display_qre">~ Edit questionnaire</a></p>
  <div id="qre_update_div" hidden></div>
  <hr>
  <!-- Sections -->
  <div id="qre_sections_div">
    <h3>Sections</h3>
    <!-- Create Section -->
    <a href="#" id="qre_section_create_display">+ New section</a>
    <div id="qre_section_create_div" hidden></div>
    <!-- End Create Section -->
    <br>
    <br>
    <div id="qre_section_list_div"></div>
  </div>
  <!-- End Sections -->
  <hr>
  <p><a href="{% url 'qres:delete' object.pk %}" id="delete_display_qre">- Delete questionnaire</a></p>
  <p><a target="_blank" href="/admin/">Go to admin site</a></p>


  <!-- Section Move Form -->
  <form id="qre_section_move_form">
    {% csrf_token %}
  </form>
  <!-- End Section Move Form-->

{% endblock content %}
{% block page_data %}
  <div id="page_urls" data-qre-update-url="{% url 'qres:update' object.pk %}" data-qre-section-create-url="{% url 'sections:create' object.pk %}" data-qre-section-list-url="{% url 'sections:list' object.pk %}"></div>
{% endblock page_data %}
{% block scripts %}
  {{ block.super }}
  <script src="{% static 'qres/js/update.js' %}"></script>
  <script src="{% static 'sections/js/list.js' %}"></script>
  <script src="{% static 'sections/js/create.js' %}"></script>
  <script src="{% static 'sections/js/move.js' %}"></script>
{% endblock scripts %}
