<table id="qre_section_table">
  <thead>
    <tr>
      <th></th>
      <th width="5%"></th>
      <th width="5%"></th>
    </tr>
  </thead>
  <tbody>
    {% for section in object_list %}
      <tr>
        <td><strong>{{ section }}</strong></td>
        <td>{% if not forloop.first %}<a href="#" class="qre_section_move_link" data-url="{% url 'qres:section_move' view.kwargs.qre_id section.pk 'up' %}">up</a>{% endif %}</td>
        <td>{% if not forloop.last %}<a href="#" class="qre_section_move_link" data-url="{% url 'qres:section_move' view.kwargs.qre_id section.pk 'down' %}">down</a>{% endif %}</td>
      </tr>
      {% for question in section.questions.all %}
        <tr>
          <td>{{ question }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
