{% load static %}
<!DOCTYPE html>
<html>
  {% block head %}
    <head>
      <meta charset="UTF-8">
      <title>{% block title %}{% endblock title %}</title>
    </head>
  {% endblock head %}
  <body style="padding:20px;">
    <div id="breadcrumbs">{% block breadcrumbs %}{% endblock breadcrumbs %}</div>
    <h1 id="page_header">{% block header %}{% endblock header %}</h1>

    {% block content %}
    {% endblock content %}

    {% block page_data %}
    {% endblock page_data %}

    {% block scripts %}
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    {% endblock scripts %}
  </body>
</html>
