{% load static %}
<!DOCTYPE html>
<html class="h-100">
  {% block head %}
    <head>
      <meta charset="UTF-8">
      <title>{% block title %}{% endblock title %}</title>

      {% block styles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Muli|Orbitron:900" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
      {% endblock styles %}
    </head>
  {% endblock head %}
  <body class="h-100">
    <div class="container h-100">

      <br>

      <!-- Breadcrumbs -->
      {% block breadcrumb_section %}
        <div class="row">
          <div class="col col-md-8">
            <nav aria-label="breadcrumb mt-1">
              <ol class="breadcrumb">
                {% block breadcrumbs %}{% endblock breadcrumbs %}
              </ol>
            </nav>
          </div>
          <div class="col col-md-4 text-right">
            <h1 class="brand">{{ request.site.name }}</h1>
          </div>
        </div>
      {% endblock breadcrumb_section %}
      <!-- End Breadcrumbs -->

      <!-- Page Header -->
      {% block header_section %}
      <div class="row">
        <div class="col-sm">
          <h1 id="page_header">{% block header %}{% endblock header %}</h1>
          <div class="page_subheader">
            {% block subheader %}{% endblock subheader %}
          </div>
          <br>
        </div>
      </div>
      {% endblock header_section %}
      <!-- End Page Header -->

      {% block content %}
      {% endblock content %}

      {% block page_data %}
      {% endblock page_data %}
    </div>
    <!-- end of Container -->
    {% block logout %}
    <footer class="footer">
      <div class="container-fluid">
        <p class="text-right">logged in as <strong>{{ user.username }}</strong> @
          {% if user.org %}{{ user.org }}{% else %}{{ user.client }}{% endif %}
          {% if user.is_staff %}| {% block admin_link%}{% endblock admin_link %}{% endif %} |
          <a href="{% url 'logout' %}">Log out <i class="fas fa-sign-out-alt"></i></a>
        </p>
      </div>
    </footer>
    {% endblock logout %}

    {% block scripts %}
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="{% static 'js/fontawesome/all.js' %}"></script>
    {% endblock scripts %}
  </body>
</html>
