<form action="{% url 'assess:complete' client_pk assessment.pk %}" method="POST" id="answers_update_formset">
  {% csrf_token %}
  {{ answer_formset.management_form }}
  {% for form in answer_formset %}
    {% ifchanged  %}
      <h4 class="mt-4">{{ form.instance.question.section }}</h4>
      <hr>
    {% endifchanged %}
    <h5>{{ form.instance.question }}</h5>
    <div class="row">
      <div class="col" style="padding:0px 7% 0 7%;">{{ form }}</div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card-deck">
          <div class="card"><div class="card-header text-center">0</div><div class="card-body text-center">No response.</div></div>
          <div class="card"><div class="card-header text-center">1</div><div class="card-body">{{ form.instance.question.choice_text_1 }}</div></div>
          <div class="card"><div class="card-header text-center">2</div><div class="card-body">{{ form.instance.question.choice_text_2 }}</div></div>
          <div class="card"><div class="card-header text-center">3</div><div class="card-body">{{ form.instance.question.choice_text_3 }}</div></div>
          <div class="card"><div class="card-header text-center">4</div><div class="card-body">{{ form.instance.question.choice_text_4 }}</div></div>
          <div class="card"><div class="card-header text-center">5</div><div class="card-body">{{ form.instance.question.choice_text_5 }}</div></div>
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="text-right mt-4">
      <input type="submit" class="btn btn-primary" id="answers_update_btn" value="Submit Assessment">
  </div>

</form>
