{% extends 'base.html' %}
{% load static %}
{% block title %}Assessment{% endblock title %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.css"/>
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item" aria-current="page"><a href="{% url 'dashboard:index' %}">dashboard</a></li>
  <li class="breadcrumb-item" aria-current="page"><a href="{% url 'clients:detail' client_pk %}"> {{ assessment.client }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">assessment</li>
{% endblock breadcrumbs %}

{% block header %}{{ assessment }}{% endblock header %}
{% block subheader %}
<h4><span class="badge badge-primary">{{ assessment.is_pending|yesno:'pending,complete' }}</span></h4>
<p>
  <a href="{% url 'assess:complete' client_pk assessment.pk %}"><i class="fas fa-list-alt"></i> Complete assessment</a> |
  <span><a href="#" id="assess_rename_display"><i class="fas fa-pen"></i> Rename assessment</a> |
  <a href="{% url 'assess:delete' client_pk assessment.pk %}"><i class="fas fa-trash-alt"></i> Delete assessment</a>
</p>
<div id="assess_rename_div"></div>
{% endblock subheader %}

{% block content %}
  <!-- chart -->
  <div class="card-deck">
    <div class="card" id="chart_div">
      <div class="card-body">
        <h3 class="card-title">Radar</h3>
        <div id="assess_chart" style="width:100%; min-height:350px;"></div>
      </div>
    </div>
  </div>
  <!-- End chart -->

  <!-- section scores -->
  <div class="card-deck mt-4">
    <div class="card" id="section_score_div">
      <div class="card-body">
        <h3 class="card-title">Section scores</h3>
        <table class="table table-striped" id="section_table">
          <thead>
            <tr>
              <th>Section</th>
              <th>Target</th>
              <th>Current</th>
              <th>Max</th>
              <th>Maturity</th>
            </tr>
          </thead>
          <tbody>
            {% include 'sections/totals.html' %}
          </tbody>
          <tfoot>
            <tr>
              <th>Total</th>
              <th class="text-right pr-4"></th>
              <th class="text-right pr-4"></th>
              <th class="text-right pr-4"></th>
              <th class="text-right pr-4"></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <!-- End section scores -->

  <!-- scores -->
  <div class="card-deck mt-4">
    <div class="card" id="score_div">
      <div class="card-body">
        <h3 class="card-title">Detailed Scores</h3>
        <table class="table table-striped" id="answer_table">
          <thead>
            <tr>
              <th>Section</th>
              <th>Question</th>
              <th>Target</th>
              <th>Current</th>
              <th>Max</th>
              <th>Maturity</th>
            </tr>
          </thead>
          <tbody id="answer_table_body">
            {% include 'answers/list.html' %}
          </tbody>
          <tfoot>
            <tr>
              <th>Total</th>
              <th></th>
              <th class="text-right pr-4"></th>
              <th class="text-right pr-4"></th>
              <th class="text-right pr-4"></th>
              <th class="text-right pr-4"></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <!-- End scores -->

  <!-- Admin Link -->
  <div class="row mt-4">
    <div class="col">
      <hr>
      <p class="text-right">
        <a target="_blank" href="{% url 'admin:assessments_assessment_changelist' %}">
          <i class="fas fa-tachometer-alt"></i> Go to assessments admin
        </a>
      </p>
    </div>
  </div>
  <!-- End Admin Link -->

{% endblock content %}

{% block page_data %}
  <div id="page_urls" data-assess-rename-url="{% url 'assess:rename' client_pk assessment.pk %}"></div>
{% endblock page_data %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
  <script type="text/javascript" src="{% static 'js/echarts/echarts.common.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'answers/js/table.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/update_component.js' %}"></script>
  <script type="text/javascript" src="{% static 'assess/js/assess_rename.js' %}"></script>
  <script>
    var sectionList = [
    {% for section in section_totals %}
      {"name": "{{ section.order }}. {{ section.name }}", "max": {{ section.max_score|safe }}},
    {% endfor %}
    ]
    var currentScores = [{% for section in section_totals %}parseFloat("{{ section.score }}"),{% endfor %}]
    var targetScores = [{% for section in section_totals %}parseFloat("{{ section.target_score }}"),{% endfor %}]

  </script>
  <script type="text/javascript" src="{% static 'assess/js/assess_charts.js' %}"></script>
{% endblock scripts %}
