{% extends 'base.html' %}
{% load static %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.css"/>
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item" aria-current="page"><a href="{% url 'dashboard:index' %}">dashboard</a></li>
  <li class="breadcrumb-item active" aria-current="page">client</li>
{% endblock breadcrumbs %}

{% block title %}Client{% endblock title %}

{% block header %}{{ client }}{% endblock header %}
{% block subheader %}
  <div class="row">
    <div class="col-md-4">
        <p><span id="client_update_display"><a href="#"><i class="fas fa-pen"></i> Rename client</a></small></span> | <a href="{% url 'clients:delete' client.pk %}" id="client_delete_link"><i class="fas fa-trash-alt"></i> Delete client</a></p>
        <div id="client_update_div"></div>
    </div>
  </div>
{% endblock subheader %}

{% block content %}
  <!-- Assessments -->
  <div id="assess_div">
    <h3>Assessments</h3>
    <a href="#" id="assess_create_display"><i class="fas fa-plus-circle"></i> New assessment</a>
    <div id="assess_create_div"></div>
    <div>
      <table class="table table-striped" id="assess_table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Questionnaire</th>
            <th>Score</th>
            <th>Max Score</th>
            <th>Maturity</th>
          </tr>
        </thead>
        <tbody id="assess_table_body">
            {% include 'assess/list.html' %}
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-right pr-4"></th>
            <th class="text-right pr-4"></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <!-- End Assessments -->

  <hr>
  <p class="text-right"><a target="_blank" href="/admin/"><i class="fas fa-tachometer-alt"></i> Go to admin site</a></p>

{% endblock content %}
{% block page_data %}
  <div id="page_urls" data-client-update-url="{% url 'clients:update' client.pk %}" data-assess-create-url="{% url 'assess:create' client.pk %}" data-assess-list-url="{% url 'assess:list' client.pk %}"></div>
{% endblock page_data %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
  <script src="{% static 'assess/js/table.js' %}"></script>
  <script src="{% static 'js/create_component.js' %}"></script>
  <script src="{% static 'js/update_component.js' %}"></script>
  <script src="{% static 'clients/js/update_client.js' %}"></script>
  <script src="{% static 'clients/js/create_assessment.js' %}"></script>
{% endblock scripts %}
