{% extends 'base.html' %}
{% load static %}
{% block title %}
  Section
{% endblock title %}
{% block breadcrumbs %}
  <a href="{% url 'dashboard:index' %}">dashboard</a> /
  <a href="{% url 'qres:detail' view.kwargs.qre_pk %}">{{ object.qre }}</a> /
  section
{% endblock breadcrumbs %}
{% block header %}
  {{ object }}
{% endblock header %}
{% block content %}
  <p><a href="#" id="update_qre_section_link">~ Edit section</a></p>
  <div id="qre_section_update_div" hidden></div>
  <hr>
  <!-- Questions -->
  <div id="qre_qns_div">
    <h3>Questions</h3>
    <a href="#" id="create_question_link">+ Add question</a>
    <div id="question_create_div" hidden></div>
  </div>
  <br>
  <br>
  <div id="question_list_div">
    {% include 'questions/list.html' %}
  </div>
  <!-- End Questions -->
  <hr>
  <p><a href="{% url 'sections:delete' view.kwargs.qre_pk object.pk %}">- Delete section</a></p>
  <p><a target="_blank" href="/admin/">Go to admin site</a></p>

  <!-- Question Move Form -->
  <form id="question_move_form">
    {% csrf_token %}
  </form>
  <!-- End Question Move Form -->

{% endblock content %}
{% block page_data %}
  <div id="page_urls" data-qre-section-update-url="{% url 'sections:update' object.qre.id object.pk %}" data-question-create-url="{% url 'questions:create' view.kwargs.qre_pk object.pk %}" data-question-list-url="{% url 'questions:list' view.kwargs.qre_pk object.pk %}"></div>
{% endblock page_data %}
{% block scripts %}
  {{ block.super }}
  <script src="{% static 'sections/js/update.js' %}"></script>
  <script src="{% static 'questions/js/create.js' %}"></script>
  <script src="{% static 'questions/js/move.js' %}"></script>
{% endblock scripts %}
