{% extends 'base.html' %}
{% load static %}

{% block title %}Section{% endblock title %}

{% block breadcrumbs %}
  <li class="breadcrumb-item" aria-current="page"><a href="{% url 'dashboard:index' %}">dashboard</a></li>
  <li class="breadcrumb-item" aria-current="page"><a href="{% url 'qres:detail' section.qre.pk %}">{{ section.qre }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">section</li>
{% endblock breadcrumbs %}

{% block header %}{{ section }}{% endblock header %}

{% block subheader %}
  <div class="row">
    <div class="col-md-4">
        <div>
          <span id="section_rename_display"><a href="#"><i class="fas fa-pen"></i> Rename</a></small></span> |
          <a href="{% url 'sections:delete' section.qre.pk section.pk %}" id="sections_delete_link"><i class="fas fa-trash-alt"></i> Delete</a>
        </div>
        <div id="section_rename_div"></div>
    </div>
  </div>
{% endblock subheader %}

{% block content %}

  <!-- Question Create -->
  <div class="row">
    <div class="col">
      <h3>Questions</h3>
      <div id="question_div">
        <a href="#" id="question_create_display"><i class="fas fa-plus-circle"></i> Add question</a>
        <div id="question_create_div"></div>
      </div>
    </div>
  </div>
  <!-- End Question Create -->

  <!-- Question Table -->
  <div class="row">
    <div class="col">
      <table class="table mt-4" id="question_table">
        <thead>
          <tr>
            <th width="5%">Move up</th>
            <th width="5%">Move down</th>
            <th>Question</th>
            <th>Weight</th>
          </tr>
        </thead>
        <tbody id="question_table_body">
        {% with question_list=section.questions.all qre_pk=section.qre.pk section_pk=section.pk %}
          {% include 'questions/list.html' %}
        {% endwith %}
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <!-- End Question Table -->

  <!-- Admin Link -->
  <div class="row">
    <div class="col">
        <hr>
        <p class="text-right">
          <a target="_blank" href="{% url 'admin:sections_section_changelist' %}">
            <i class="fas fa-tachometer-alt"></i>
            Go to sections admin
          </a>
        </p>
    </div>
  </div>
  <!-- End Admin Link -->

  <!-- Question Move Form -->
  <form id="question_move_form">
    {% csrf_token %}
  </form>
  <!-- End Question Move Form -->

{% endblock content %}

{% block page_data %}
  <div id="page_urls" data-section-rename-url="{% url 'sections:update' section.qre.id section.pk %}" data-question-create-url="{% url 'questions:create' section.qre.pk section.pk %}" data-question-list-url="{% url 'questions:list' section.qre.pk section.pk %}"></div>
{% endblock page_data %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/create_component.js' %}"></script>
  <script src="{% static 'sections/js/section-create-question.js' %}"></script>
  <script src="{% static 'js/update_component.js' %}"></script>
  <script src="{% static 'sections/js/section-rename.js' %}"></script>
  <script src="{% static 'questions/js/move.js' %}"></script>
{% endblock scripts %}
