{% for section in object_list %}
  <tr>
    <td class="text-center">
      {% if not forloop.first %}
      <a href="#" class="section_move_link" data-url="{% url 'sections:move' qre_pk section.pk 'up' %}">
        <i class="fas fa-arrow-alt-circle-up"></i>
      </a>
      {% endif %}
    </td>
    <td class="text-center">
      {% if not forloop.last %}
      <a href="#" class="section_move_link" data-url="{% url 'sections:move' qre_pk section.pk 'down' %}">
        <i class="fas fa-arrow-alt-circle-down"></i>
      </a>
      {% endif %}
    </td>
    <td><strong><a href="{% url 'sections:detail' qre_pk section.pk %}">{{ section }}</a></strong></td>
  </tr>
  {% for question in section.questions.all %}
    <tr>
      <td></td>
      <td></td>
      <td>{{ question }}</td>
    </tr>
  {% endfor %}
{% endfor %}
