thead th {
    text-align: center;
}
.brand {
    font-family: 'Orbitron', sans-serif;
}
.scroll {
    max-height: 300px;
    overflow-y: auto;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    line-height: 55px;
    border-top: 1px solid #007bff;
    background-color: white;
  }
.form-control {
    border-color: #007bff;
}
/* bootstrap */
.breadcrumb {
    background-color: transparent;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 123, 255, 0.2), 0 6px 20px 0 rgba(0, 123, 255, 0.1);
}
/* login */
.login_body {
    background: url("/static/img/pexels-photo-692103.jpeg") fixed;
    background-size: cover;
}
.jumbotron {
    background-color: rgba(0, 123, 255, 0.2);
}
.login_error_div {
    height: 60px;
    color: rgb(235, 170, 72);
}
.login_link {
    color: white;
    text-decoration: none;
}
.login_link:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/* datatables */
tr.odd td {
    background-color: #e6f2ff;
}
.dataTable thead th {
    border: 1px solid #007bff !important;
}
.dataTable tfoot th {
    border-top: 1px solid #007bff !important;
}
div.dataTables_scrollBody table tbody tr td {
    border-top: 1px solid #007bff;
}
